body{
    background-color: #cae9ff;
    text-align: center;
    margin:0px;

}

h1 {
    color:#f4f9f4;
    font-family: 'Amatic SC', cursive;
    font-weight: 700; ;
    font-size: 120px ;
    
}

h3 {
  color:#59a5d8;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700; 
  font-size: 50px ;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
  }

.navbar{

    background-color: #1b4965;
    padding: 0;
    margin: 0;
    height: 80px;
    position: relative;

  }

li a {

    margin:0 100px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #59a5d8;
    position: relative;
    top:20px;
    
  
  }

  li a:hover {
    color: #f4f9f4;
   }

   .searchbar {
    width: 280px;
    height: 40px;
    border: #1b4965;
    border-width: 2px;
    font-size: 18px;
    color: #1b4965;
    border-radius:none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;

}

.search-container {

    position: relative;
    top: 21px;
    float: right;

}

.search-button {
    background-color: #CAE9FF;
    border:none;
    position: absolute;
    right: 0;
    height: 42px;
    width: 42px;

}

  .covid19{
      width: 70%;


  }

.description-covid{
  width: 70%;
  text-align: center;
  margin: 20px auto;
}

  p {
    color: #133c55;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400; 
    font-size: 25px;
    width: 70%;
    margin: 30px auto;

}

.covidworld{
  width: 70%;
  position: relative;
  }


.covid-world-description{

  margin-top: 50px;
}




.estatisticas-covid{

  width: 70%;
 position: relative;
 margin-top: 30px;
 margin-bottom: 30px;


}

.go-top{

  color: #1b4965;


 }


 footer{
  background-color: #fff;
  height: 100px;
}

.copyright{
  font-size: 40px;
  font-weight: 400;
  position: relative;
  top:25px;
}



/* ---------------------------------------------------------- !!QUERY 1 400-509!! ------------------------------------------------------------- */

@media only  screen and (min-width: 400px) and (max-width: 509px) {



h1 {

  font-size: 80px ;
  
}

h3 {

font-size: 40px ;
}


/* NAVBAR */

                                    
                                    
                                    
.navbar {
                                    
height: 70px;
                                        
                                    
}
                                    
.navbar li a {
                                    
 margin:0 4px;
 font-size: 18px;
}    

.navbar{
  height: 70px;
}

.navbar li a {

  margin:0 5px;
  font-size: 20px;
}

.searchbar {
  width: 140px;
  height: 30px;
  position: relative;
  top: -5px;
  right: 0;
  font-size: 15px;
}



.search-container {

  position: relative;
  top: 21px;
  right:0px;

}

.search-button {
  position: absolute;
  right: 0;
  top: -5px;
  height: 32px;
  width: 32px;



}
                                     


p {
  width: 90%;
}

.covid19{
  width: 90%;
}

.covidworld{
  width: 90%;
  }

  .estatisticas-covid{

    width: 90%;
  }


}


@media only  screen and (min-width: 510px) and (max-width: 628px) {


  .navbar{
    height: 70px;
  }
  
  .navbar li a {
  
    margin:0 6px;
    font-size: 20px;
  }
  
  .searchbar {
    width: 150px;
    height: 40px;
    position: relative;
    top: -5px;
    right: 0;
  }
  
  
  
  .search-container {
  
    position: relative;
    top: 21px;
    right:0px;
  
  }
  
  .search-button {
    position: absolute;
    right: 0;
    top: -5px;
    height: 42px;
    width: 42px;
  
  
  
  }

}
/* ------------------------------------------------------------ !!QUERY 2 510-768!! ------------------------------------------------------------- */

@media only  screen and (min-width: 627px) and (max-width: 768px) {


 
  
  h1 {
  font-size: 80px ;  
  }
  
  h3 {
  font-size: 40px ;
  padding-right: 10px;
  padding-left: 10px;
  }
  
  
/* NAVBAR */


.navbar{
  height: 70px;
}

.navbar li a {

  margin:0 10px;
  font-size: 20px;
}

.searchbar {
  width: 250px;
  height: 40px;
  position: relative;
  top: -5px;
  right: 0;
}



.search-container {

  position: relative;
  top: 21px;
  right:0px;

}

.search-button {
  position: absolute;
  right: 0;
  top: -5px;
  height: 42px;
  width: 42px;
}
  
  .covid19{
      width: 90%;
  }
  
  .description-covid{
  width: 90%;
  }
  
  p {
    width: 90%;
  }
  
  .covidworld{
  width: 90%;
  position: relative;
  }

  .estatisticas-covid{

    width: 90%;
  }
  

.copyright{
    font-size: 40px;
    font-weight: 400;
    position: relative;
    top:25px;
}
  
  
  }

  /* ----------------------------------------------------------- !!QUERY 3 769-1199!!------------------------------------------------------------- */

@media only  screen and (min-width: 769px) and (max-width: 1199px) {

  h1 {
    font-size: 80px ;
  }
  
  h3 {
  font-size: 40px ;
  }
  
  
   /* NAVBAR */

.navbar{
    height: 70px;
  }

.navbar ul {

  position: relative;
  left: 45px;
}

 .navbar li a {

    margin:0 10px;
    font-size: 25px;
  
  }

  .searchbar {
    width: 250px;
    height: 40px;
    position: relative;
    top: -5px;
    right: 0;
}



.search-container {

    position: relative;
    top: 21px;
    right:50px;

}

.search-button {
    position: absolute;
    right: 0;
    top: -5px;
    height: 42px;
    width: 42px;



}



  
  .covid19{
      width: 90%;
  }
  
  .description-covid{
  width: 90%;
  }
  
  p {
    width: 90%;
  };
  
  .covidworld{
  width: 90%;
  position: relative;
  }

  .estatisticas-covid{

    width: 90%;
  }

  
  
  
  }

    /* -------------------------------------------------------- !!QUERY 4 1200-1400!!----------------------------------------------------------- */

@media only  screen and (min-width: 1200px) and (max-width: 1400px) {


  
  
  h1 {
    color:#f4f9f4;
    font-family: 'Amatic SC', cursive;
    font-weight: 700; ;
    font-size: 80px ;
    
  }
  
  h3 {
  font-size: 40px ;
  }
  
  
   /* NAVBAR */

                                       
   .navbar {

    height: 80px;
}

.navbar ul{

    position: relative;
    left:180px;
}

.navbar li a {

    margin: 0 20px;
    display: inline;
    font-size: 30px;
    position: relative;
    top: 18px;

}


.searchbar {
    width: 250px;
    height: 40px;
    position: relative;
    top: -5px;
    right: 0;
}



.search-container {

    position: relative;
    top: 21px;
    right:180px;

}

.search-button {
    position: absolute;
    right: 0;
    top: -5px;
    height: 42px;
    width: 42px;



}
  
  .description-covid{
  width: 70%;
  text-align: center;
  }
  
  p {
    color:#133c55;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400; 
    font-size: 25px;
    width: 70%;
    margin: 30px auto;
  
  }
  
  .covidworld{
  width: 70%;
  position: relative;
  }
  
 
  



  
  
  }



  /*---------------------------------------------------------------------------------------------------------------------- QUERY 6 -------------------------------------------------------------------------------*/

  @media only  screen and (min-width: 1400px) and (max-width: 1515px) {
  
  
  
  
  
                                       
    .navbar {

      height: 80px;
  }
  
  .navbar ul{
  
      position: relative;
      left:180px;
  }
  
  .navbar li a {
  
      margin: 0 20px;
      display: inline;
      font-size: 30px;
      position: relative;
      top: 18px;
  
  }
  
  
  .searchbar {
      width: 250px;
      height: 40px;
      position: relative;
      top: -5px;
      right: 0;
  }
  
  
  
  .search-container {
  
      position: relative;
      top: 21px;
      right:180px;
  
  }
  
  .search-button {
      position: absolute;
      right: 0;
      top: -5px;
      height: 42px;
      width: 42px;
  
  
  
  }
  
  
  
  
  
  }