body {
    background-color: #cae9ff;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;

}

.imagem-planeta {
    width: 10%;
    margin-top: 90px;
}


h1 {
    color: #f4f9f4;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 180px;
    margin-bottom: 40px;
    margin-top: 40px;
}



h4 {

    color: #59a5d8;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-top: 10px;

}

h5 {
    color: #133c55;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: -10px;
    margin-top: 10px;
}

/* NAVBAR */



.navbar {

    background-color: #1b4965;
    padding: 0;
    margin: 0;
    height: 80px;
    position: relative;

}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.navbar li a {

    margin: 0 70px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #59a5d8;
    position: relative;
    top: 20px;


}

.navbar li a:hover {
    color: #f4f9f4;
}

.searchbar {
    width: 280px;
    height: 40px;
    border: #1b4965;
    border-width: 2px;
    font-size: 18px;
    color: #1b4965;
    border-radius: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;

}

.search-container {

    position: relative;
    top: 21px;
    float: right;

}

.search-button {
    position: absolute;
    right: 0;
    height: 42px;
    width: 42px;

}

.filter {
    background-color: rgba(255, 255, 255, 0.651);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1D4965;
    opacity: 0;
    animation: fade 3s forwards;
    animation-play-state:running;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* .filter:hover {
    transition:1s opacity;
    opacity:1;
  } */


/* 
.filter:hover {
animation-name: filter-animation;
animation-duration: 1.5s;
animation-fill-mode: forwards;

}

@keyframes filter-animation{
    0% {opacity: 0;}
    100% {opacity:1}

} */

.filter li {

    margin: 0 30px;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 0;
}

.filter li a {

    text-decoration: none;
    color: #1D4965;
}

.filter li:hover {

    cursor: pointer;
    color: #CAE9FF;
}

.filter li:active {
    color: #fff;
}

p {
    color: #345568;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400;
    font-size: 25px;
    padding: 0 10px;
}

.question-2 {
    position: relative;
    top: 70px;
}


.container-1 {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 25px;
    padding: 0;
    justify-content: center;




}

.box {

    margin: 35px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    width: 20%;
}

.imagem-card {
    width: 100%;
}

/* .container-2{
    display: flex;
    position: relative;
    top:50px;
    margin-bottom: 200px;

} */

.priority {
    margin-bottom: 10px;
    color: #1b4965;
}

button {
    background-color: #cae9ff;
    color: #1b4965;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 20px;
    border: none;
    margin-bottom: 30px;
}

button:hover {

    cursor: pointer;

}

/* .button-positioning{
    margin-top:35px;
}

.button-positioning-2{
    margin-top:34px;
}

.button-positioning-3{
    margin-top:0;
}

.button-positioning-4{
    margin-top:0;
} */

.go-top {

    color: #1b4965;
    position: fixed;
    right:6px;
    top:785px;
    z-index: 1;

   


}

footer {
    position: relative;
    background-color: #fff;
    height: 100px;
}

.copyright {
    font-size: 40px;
    font-weight: 400;
    position: relative;
    top: 25px;
}

/*----------------------------------------- !!Query 1 400-509!! -------------------------- */

@media only screen and (min-width: 400px) and (max-width: 509px) {


    .imagem-planeta {
        width: 30%;
        margin-top: 35px;
        margin-bottom: -20px;

    }


    h1 {
        font-size: 100px;
    }

    h4 {
        font-size: 30px;
        margin: 2px 15px;
    }

    /* NAVBAR */
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li  {
        display: inline;
    }

    .navbar {

        height: 60px;

    }


    .navbar  ul {
        position: relative;
        left: -80px;
    }

   .navbar li a {

        margin: 0 5px;
        font-size: 18px;
    }

    .searchbar {
        width: 150px;
        height: 33px;
        position: relative;
        top: 12px;
        right: 0px;
        font-size: 15px;
    }

    .search-container {

        position: absolute;
        right: -80px;
        padding: 0;
        margin: 0;
        top:0;
        float: right;

    }

    .search-button {
        background-color: #CAE9FF;
        position: absolute;
        top: 12px;
        right: 0;
        height: 35px;
        width: 35px;
    }

    .filter {
        background-color: rgba(255, 255, 255, 0.651);
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #1D4965;
        opacity: 0;
        animation: fade 3s forwards;
        animation-play-state:running;
    }
    
    @keyframes fade {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }

    .filter li {

        margin: 0 10px;
        font-size: 15px;
        font-weight: 800;
        text-transform: uppercase;
        padding: 0;
        position: relative;
        left:10px;
    }
    
    .filter li a {
    
        text-decoration: none;
        color: #1D4965;
    }
    
    .filter li:hover {
    
        cursor: pointer;
        color: #CAE9FF;
    }
    
    .filter li:active {
        color: #fff;
    }





    p {
        font-size: 25px;
    }

    .question-2 {
        position: relative;
        top: 40px;
    }


    .container-1 {
        display: flex;
    }

    .box {

        background-color: transparent;
        box-shadow: none;
        width: 87%;



    }

    .imagem-card {

        width: 100%;

    }



    .container-2 {
        display: block;
        position: relative;
        top: 10px;
        margin-bottom: 0px;

    }

    .priority {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    button {
        background-color: white;
    }


    .button-positioning {
        margin-top: 0;
    }

    .button-positioning-2 {
        margin-top: 0;
    }

    .button-positioning-3 {
        margin-top: 0;
    }

    .go-top {
        position: static;
        margin: 40px 0;
        top:750px;
        right:10px;
    }

    /* -------------------------------- Query 2 510-768 ------------------------------ */

}

@media only screen and (min-width:510px) and (max-width: 768px) {



    .imagem-planeta {
        width: 20%;
        margin-top: 35px;
    }


    h1 {
        font-size: 100px;
    }

    h4 {
        font-size: 30px;
        margin:0 20px;
    }

    /* NAVBAR */

    .navbar {
        height: 70px;
    }

    .navbar ul {
        width: 75%;

    }

    .navbar li a {

        margin: 0 7px;
        font-size: 130%;

    }

    .searchbar {
        width: 150px;
        height: 33px;
        position: relative;
        top: 12px;
        right: 0px;
        font-size: 15px;
    }

    .search-container {

        position: absolute;
        right: 0;
        padding: 0;
        margin: 0;
        top: 7px;
        float: right;

    }

    .search-button {
        background-color: #CAE9FF;
        position: absolute;
        top: 12px;
        right: 0;
        height: 35px;
        width: 35px;
    }



    .filter li {

        margin:0 10px;
        font-size: 16px;
        font-weight: 800;
        text-transform: uppercase;
        padding: 0;
        position: relative;
        left:10px;
    }



    .container-1 {
        display: flex;
        position: relative;
        top: 5px;

    }

    .box {
        background-color: transparent;
        box-shadow: none;
        width: 80%;
    }

    .container-2 {
        display: block;
        position: relative;
        top: 10px;
        margin-bottom: 0px;

    }

    .priority {
        margin-top: 30px;
        margin-bottom: 10px;
        color: inherit;
        font-weight: 400;
    }

    button {
        background-color: #fff;
    }


    .button-positioning {
        margin-top: 0;
    }

    .button-positioning-2 {
        margin-top: 0;
    }

    .button-positioning-3 {
        margin-top: 0;
    }

    .go-top {
        margin: 40px 0;
        top:750px;
        right:10px;
    }

}
/* ----------------------------------------------------------------QUERY 3 -----------------------------------------*/

@media only screen and (min-width: 769px) and (max-width:947px) {

    .imagem-planeta {
        width: 200px;
        margin-top: 35px;
    }


    h1 {
        font-size: 100px;
    }

    h4 {
        font-size: 30px;
        margin:0 20px;
    }

    h5 {
        font-size: 30px;
    }

    /* NAVBAR */

    .navbar {

        height: 80px;

    }

    .navbar ul {

        width: 80%;

    }

    .navbar li a {

        margin: 0 15px;
    }


    .searchbar {
        width: 200px;
        height: 40px;
        position: relative;
        top: 12px;
        right: 0px;
        font-size: 15px;
    }

    .search-container {

        position: absolute;
        right: 0;
        padding: 0;
        margin: 0;
        top: 10px;
        float: right;

    }

    .search-button {
        background-color: #CAE9FF;
        position: absolute;
        top: -8px;
        right: 0;
        height: 42px;
        width: 40px;
    }

    .filter li {

        margin:0 10px;
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;
        padding: 0;
        position: relative;
        left:10px;
    }


    .container-1 {
        display: flex;
        position: relative;
        top: 5px;


    }

    .box {

        background-color: transparent;
        box-shadow: none;
        width: 80%;
        padding: 0 20px;

    }

    .imagem-card {

        width: 100%;
        margin-top: 20px;
    }

    .container-2 {
        display: block;
        position: relative;
        top: 10px;
        margin-bottom: 0px;



    }

    .priority {
        margin-top: 30px;
        margin-bottom: 10px;
        font-weight: 400;
    }

    button {
        background-color: #fff;
        font-size: 20px;
        margin-top: 20px;
    }

    .button-positioning {
        margin-top: 0;
    }

    .button-positioning-2 {
        margin-top: 0;
    }

    .button-positioning-3 {
        margin-top: 0;
    }

    .go-top {
        margin: 40px 0;
    }

}

/* ---------------------------------- Query 4 769-1199 ------------------------------- */

@media only screen and (min-width: 948px) and (max-width:1199px) {


    .imagem-planeta {
        width: 200px;
        margin-top: 150px;
    }


    h1 {
        font-size: 100px;
    }

    h4 {
        font-size: 30px;
    }

    h5 {
        font-size: 30px;
    }

    /* NAVBAR */

    .navbar {

        height: 80px;

    }

    .navbar ul {
        margin-left: 150px;

    }

    .navbar li a {

        margin: 0 20px;
    }


    .searchbar {
        width: 200px;
        height: 40px;
        position: relative;
        top: 12px;
        right: 0px;
        font-size: 15px;
    }

    .search-container {

        position: relative;
        padding: 0;
        margin: 0;
        top: 7px;
        float: right;

    }

    .search-button {
        background-color: #CAE9FF;
        position: absolute;
        top: -8px;
        right: 0;
        height: 42px;
        width: 40px;
    }

    .filter li {

        margin:0 15px;
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;
        padding: 0;
        position: relative;
        left:15px;
    }


    .container-1 {
        display: flex;
        position: relative;
        top: 200px;


    }

    .box {

        background-color: transparent;
        box-shadow: none;
        width: 80%;
        padding: 0 20px;

    }

    .imagem-card {

        width: 100%;
        margin-top: 20px;
    }

   

    .priority {
        margin-top: 30px;
        margin-bottom: 10px;
        font-weight: 400;
    }

    button {
        background-color: #fff;
        font-size: 20px;
        margin-top: 20px;
    }

    .button-positioning {
        margin-top: 0;
    }

    .button-positioning-2 {
        margin-top: 0;
    }

    .button-positioning-3 {
        margin-top: 0;
    }

    .go-top {
        margin: 40px 0;
        top:750px;
        right:20px;
    }


    footer {
        position: relative;
        background-color: #fff;
        height: 100px;
        bottom:-190px;
    }


}

/*  ---------------------------------- Query 5 1200-1400 ------------------------------- */


@media only screen and (min-width:1200px) and (max-width:1400px) {

 

    .navbar {

        height: 80px;
    }

    .navbar ul{

        position: relative;
        left:180px;
    }

    .navbar li a {

        margin: 0 20px;
        display: inline;
        font-size: 30px;
        position: relative;
        top: 18px;

    }


    .searchbar {
        width: 250px;
        height: 40px;
        position: relative;
        top: -5px;
        right: 0;
    }



    .search-container {

        position: relative;
        top: 21px;
        right:180px;

    }

    .search-button {
        position: absolute;
        right: 0;
        top: -5px;
        height: 42px;
        width: 42px;



    }

    .filter li {

        margin:0 15px;
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;
        padding: 0;
        position: relative;
        left:15px;
    }

    

}