body{
    background-color: #74b49b;
    text-align: center;
    margin:0px;

}

h1 {
    color:#f4f9f4;
    font-family: 'Amatic SC', cursive;
    font-weight: 700; ;
    font-size: 120px ;
    
}

h3 {
  color:#ace9d3;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700; 
  font-size: 50px ;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
  }

.navbar{

    background-color: #c4e6da;
    padding: 0;
    margin: 0;
    height: 80px;
    position: relative;

  }

li a {

    margin:0 100px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #5c8d89;
    position: relative;
    top:20px;
    
  
  }

  li a:hover {
    color: #f4f9f4;
   }

.searchbar {
      width: 160px;
      height: 40px;
      position: relative;
      top: 10px;
      border: #5c8d89;
      border-width: 2px;
      font-size: 18px;
      color: #5c8d89;
      border-radius: 5px;

  }

  .covid19{
      width: 70%;


  }

.description-covid{
  width: 70%;
  text-align: center;
}

  p {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400; 
    font-size: 25px;
    width: 70%;
    margin: 30px auto;

}

.covidworld{
  width: 70%;
  position: relative;


}




.estatisticas-covid{

  width: 70%;
 position: relative;
 margin-top: 30px;
 margin-bottom: 30px;


}

.go-top{

  color: #c4e6da;
  position: static;


 }


 footer{
  background-color: #c4e6da;
  height: 100px;
}

.copyright{
  font-size: 40px;
  font-weight: 400;
  position: relative;
  top:25px;
}



/* ---------------------------------------------------------- !!QUERY 1 400-509!! ------------------------------------------------------------- */

@media only  screen and (min-width: 400px) and (max-width: 509px) {


body{
  background-color: #74b49b;
  text-align: center;
  margin:0px;

}

h1 {
  color:#f4f9f4;
  font-family: 'Amatic SC', cursive;
  font-weight: 700; ;
  font-size: 80px ;
  
}

h3 {
color:#ace9d3;
font-family: 'Open Sans Condensed', sans-serif;
font-weight: 700; 
font-size: 40px ;
}


                                       /* NAVBAR */
                                       ul {
                                        list-style-type: none;
                                        margin: 0;
                                        padding: 0;
                                      }
                                    
                                      li {
                                        display: inline;
                                      }
                                    
                                    .navbar{
                                    
                                        background-color: #c4e6da;
                                        padding: 0;
                                        margin: 0;
                                        height: 70px;
                                        position: relative;
                                    
                                      }
                                    
                                    li a {
                                    
                                        margin:0 4px;
                                        font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 18px;
                                        font-weight: 700;
                                        text-decoration: none;
                                        color: #5c8d89;
                                        position: relative;
                                        top:20px;
                                
                                        
                                      
                                    }
                                    
                                      li a:hover {
                                        color: #f4f9f4;
                                       }
                                    
                                    .searchbar {
                                          width: 100px;
                                          height: 25px;
                                          position: relative;
                                          top: 18px;
                                          border: #5c8d89;
                                          border-width: 2px;
                                          font-size: 18px;
                                          color: #5c8d89;
                                          border-radius: 5px;
                                    
                                      }

.covid19{
    width: 70%;
}

.description-covid{
width: 70%;
text-align: center;
}

p {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400; 
  font-size: 25px;
  width: 70%;
  margin: 30px auto;

}

.covidworld{
width: 70%;
position: relative;
}

.go-top{

color: #c4e6da;
position: static;

}


footer{
  background-color: #c4e6da;
  height: 100px;
}

.copyright{
  font-size: 40px;
  font-weight: 400;
  position: relative;
  top:25px;
}


}

/* ------------------------------------------------------------ !!QUERY 2 510-768!! ------------------------------------------------------------- */

@media only  screen and (min-width: 510px) and (max-width: 768px) {


  body{
    background-color: #74b49b;
    text-align: center;
    margin:0px;
  
  }
  
  h1 {
    color:#f4f9f4;
    font-family: 'Amatic SC', cursive;
    font-weight: 700; ;
    font-size: 80px ;
    
  }
  
  h3 {
  color:#ace9d3;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700; 
  font-size: 40px ;
  }
  
  
/* NAVBAR */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

.navbar{

  background-color: #c4e6da;
  padding: 0;
  margin: 0;
  height: 70px;
  position: relative;

}

li a {

  margin:0 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #5c8d89;
  position: relative;
  top:20px;
  

}

li a:hover {
  color: #f4f9f4;
 }

.searchbar {
    width: 130px;
    height: 30px;
    position: relative;
    top: 17px;
    border: #5c8d89;
    border-width: 2px;
    font-size: 18px;
    color: #5c8d89;
    border-radius: 5px;

}
  
  .covid19{
      width: 70%;
  }
  
  .description-covid{
  width: 70%;
  text-align: center;
  }
  
  p {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400; 
    font-size: 25px;
    width: 70%;
    margin: 30px auto;
  
  }
  
  .covidworld{
  width: 70%;
  position: relative;
  }
  
  .go-top{
  
  color: #c4e6da;
  position: static;
  
  }
  
  
  footer{
    background-color: #c4e6da;
    height: 100px;
}

.copyright{
    font-size: 40px;
    font-weight: 400;
    position: relative;
    top:25px;
}
  
  
  }

  /* ----------------------------------------------------------- !!QUERY 3 769-1199!!------------------------------------------------------------- */

@media only  screen and (min-width: 769px) and (max-width: 1199px) {


  body{
    background-color: #74b49b;
    text-align: center;
    margin:0px;
  
  }
  
  h1 {
    color:#f4f9f4;
    font-family: 'Amatic SC', cursive;
    font-weight: 700; ;
    font-size: 80px ;
    
  }
  
  h3 {
  color:#ace9d3;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700; 
  font-size: 40px ;
  }
  
  
   /* NAVBAR */
   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
  }

.navbar{

    background-color: #c4e6da;
    padding: 0;
    margin: 0;
    height: 70px;
    position: relative;

  }

li a {

    margin:0 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #5c8d89;
    position: relative;
    top:20px;
    
  
  }

  li a:hover {
    color: #f4f9f4;
   }

.searchbar {
      width: 130px;
      height: 30px;
      position: relative;
      top: 17px;
      border: #5c8d89;
      border-width: 2px;
      font-size: 18px;
      color: #5c8d89;
      border-radius: 5px;

  }
  
  .covid19{
      width: 70%;
  }
  
  .description-covid{
  width: 70%;
  text-align: center;
  }
  
  p {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400; 
    font-size: 25px;
    width: 70%;
    margin: 30px auto;
  
  }
  
  .covidworld{
  width: 70%;
  position: relative;
  }
  
  .go-top{
  
  color: #c4e6da;
  position: static;
  
  }
  
  
  footer{
    background-color: #c4e6da;
    height: 100px;
}

.copyright{
    font-size: 40px;
    font-weight: 400;
    position: relative;
    top:25px;
}
  
  
  
  }

    /* -------------------------------------------------------- !!QUERY 4 1200-1400!!----------------------------------------------------------- */

@media only  screen and (min-width: 1200px) and (max-width: 1400px) {


  body{
    background-color: #74b49b;
    text-align: center;
    margin:0px;
  
  }
  
  h1 {
    color:#f4f9f4;
    font-family: 'Amatic SC', cursive;
    font-weight: 700; ;
    font-size: 80px ;
    
  }
  
  h3 {
  color:#ace9d3;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700; 
  font-size: 40px ;
  }
  
  
   /* NAVBAR */
   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: -30px;
    
   }
                                       
    li {
    display: inline;
   
   }
                                       
   .navbar{
                                       
      background-color: #c4e6da;
      padding: 0;
      margin: 0;
      height: 70px;
                                       
    }
                                       
   li a {
                                       
   margin:0 20px;
   display: inline;
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 30px;
   font-weight: 700;
   text-decoration: none;
   color: #5c8d89;
   position: relative;
   top:18px;
   
   }
   
   li a:hover {
       color: #f4f9f4;
      }
   
   
   .searchbar {
         width: 120px;
         height: 30px;
         position: relative;
         top: 10px;
         right:-60;
         border: #5c8d89;
         border-width: 2px;
         font-size: 15px;
         color: #5c8d89;
         border-radius: 5px;
         
   
     }
  
  .covid19{
      width: 70%;
  }
  
  .description-covid{
  width: 70%;
  text-align: center;
  }
  
  p {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400; 
    font-size: 25px;
    width: 70%;
    margin: 30px auto;
  
  }
  
  .covidworld{
  width: 70%;
  position: relative;
  }
  
  .go-top{
  
  color: #c4e6da;
  position: static;
  
  }
  
  
  footer{
    background-color: #c4e6da;
    height: 100px;
}

.copyright{
    font-size: 40px;
    font-weight: 400;
    position: relative;
    top:25px;
}
  
  
  
  }