body{
    background-color: #74b49b;
    text-align: center;
    margin:0px;

}

h1 {
    color:#f4f9f4;
    font-family: 'Amatic SC', cursive;
    font-weight: 700; ;
    font-size: 120px ;
    
}

h3 {
  color:#ace9d3;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700; 
  font-size: 50px ;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
  }

.navbar{

    background-color: #c4e6da;
    padding: 0;
    margin: 0;
    height: 80px;
    position: relative;

  }

li a {

    margin:0 100px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #5c8d89;
    position: relative;
    top:20px;
    
  
  }

.searchbar {
      width: 160px;
      height: 40px;
      position: relative;
      top: 10px;
      border: #5c8d89;
      border-width: 2px;
      font-size: 18px;
      color: #5c8d89;

  }

  .covid19{
      width: 70%;
  }

.description-covid{
  width: 70%;
  text-align: center;
}

  p {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400; 
    font-size: 25px;
    width: 70%;
    margin: 30px auto;

}

footer{
  background-color: #c4e6da;
  height: 100px;
}

.copyright{
  font-size: 40px;
  font-weight: 400;
  position: relative;
  top:25px;
}