

<div class="image">
    <h1>Get to know us!</h1>

    <div class="button-animation">
      <a href="#about-container-2" (click)="testLocation()">
        <fa-icon id="arrow-down" class="far fa-arrow-alt-circle-down fa-4x" [icon]="faArrowAltCircleDown" ></fa-icon>

      </a>
    </div>
  </div>

  <div id="about-container-2">
    <h3>A little bit about us!</h3>

    <p>
      Share Humanity is an organisation created in 2020. Due to the number of
      global issues present in our society for the last 20 years we think it's
      important to help the most number of people. Our main goal is to help
      decrease the social differences present in our society with the help of
      our volunteers from all over the world.
    </p>
    <p>

      Right now we have teams working across the planet in the areas facing the issues we try to erradicate. Africa, Asia and South America are the areas with the most number of teams from our organisation right now.

    </p>

    <fa-icon  id="planet" class="fas fa-globe-europe fa-10x"  [icon]="faGlobeEurope"></fa-icon>

    <h3>What we do</h3>

    <p>
      Our organisation tries very hard to help the most number of communities around the world. We do that with the help of a lot of generous people from different countries and even continents. We do a lot of campaigns online and locally to help raise the money and suplies we need to support the communities. 
    </p>

  </div>

