<section id="navbar-section">
  <button  id="menu-btn" class="menu" (click)="showMenu()"><fa-icon class="fas fa-bars fa-2x" [icon]="faBars"></fa-icon></button>

    <div class="navbar" id="page-top">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a id="map" href="#map-container">WORLD MAP</a></li>

        <li><a href="#about-container">ABOUT US</a></li>
        <!-- <li><a href="work-container">OUR WORK</a></li> -->
        <li><a id="contact" href="contact-container">CONTACT</a></li>

    
      </ul>
    </div>

  
  
  </section>