<section id="navbar-section">
    <div class="navbar" id="page-top">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="#about-container">ABOUT US</a></li>
        <li><a href="work-container">OUR WORK</a></li>
        <li><a id="contact" href="contact-container">CONTACT</a></li>
        <li>
          <div class="search-container">
            <input
              id="searchbar"
              class="searchbar"
              type="text"
              placeholder="Search.."
              name="search"
            />
            <button (click)="searchButton()" id="search-button" class="search-button" type="submit">
              <fa-icon class="fa-1x "[icon]="faSearch"></fa-icon>
            </button>
          </div>
        </li>
      </ul>
    </div>
  
  </section>