

h5 {
  color: #133c55;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: -10px;
  margin-top: 10px;
}

section div {
  margin: 35px;
  border-radius: 3px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  width: 20%;
}

div img {
  width: 50%;
}

div a {
  text-decoration: none;
  color: #1b4965;
  text-transform: uppercase;
}

 div p {
  color: #345568;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 25px;
  padding: 0 10px;
}

button {
  background-color: #cae9ff;
  color: #1b4965;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 20px;
  border: none;
  margin-bottom: 30px;
}

button:hover {
  cursor: pointer;
}