<div class="image">
    <h1>Get to know us!</h1>

    <div class="button-animation">
      <a href="about/#about-container">
        <fa-icon id="arrow-down" class="far fa-arrow-alt-circle-down fa-4x" [icon]="faArrowAltCircleDown" ></fa-icon>

      </a>
    </div>
  </div>

  <div id="about-container">
    <h3>A little bit about us!</h3>

    <p>
      Share Humanity is an organisation created in 2020. Due to the number of
      global issues present in our society for the last 20 years we think it's
      important to help the most number of people. Our main goal is to help
      decrease the social differences present in our society. With the help of
      our volunteers from all over the world.
    </p>

    <fa-icon  id="planet" class="fas fa-globe-europe fa-10x"  [icon]="faGlobeEurope"></fa-icon>

    <h3>What we do</h3>

  </div>
