
<div class="filter">
    <ul>
      <li  id="show-all"><a href="/home/#issues-container">Show All issues</a></li>
      <li id="health"><a href="/home/#issues-container">Health</a></li>
      <li id="social"><a href="/home/#issues-container">Social</a></li>
      <li id="economic"><a href="/home/#issues-container">Economic</a></li>
      <li id="environment"><a href="/home/#issues-container">Environment</a></li>
      <li></li>
    </ul>
  </div>



    

    <img class="imagem-planeta" src="../../assets/images/planet.png" alt="planet earth" />

    <h1>Share Humanity</h1>

    <div class="subtitulo">
      <h4>What are the humanitarian global issues we are facing right now?</h4>
    </div>

    <div id="issues-container">
          <div *ngFor="let issue of issues" class="box"><img src={{issue.src}}/><h5>{{issue.title}}</h5> <p [innerHTML]="issue.description"></p> <button><a href={{issue.href}}>View Detail</a></button></div>

          
        </div>

    <a href="/home" id="#goTop">
      
      <fa-icon class="go-top fas fa-arrow-circle-up fa-3x" [icon]="faArrowCircleUp" ></fa-icon>
    </a>


  



